# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {"evolution":["Ivysaur","Charmeleon","Wartortle","Metapod"],
       "hp": [45,39,44,45],
       "name":['Bulbasaur','Charmander','Squirtle','Caterpie'],
       "pokedex":['yes','no','yes','no'],
       "type":['grass','fire','water','bug']}

### Step 3. Assign it to a variable called poke

In [12]:
poke = pd.DataFrame(data)
poke.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [23]:
poke = poke.reindex(columns=['name','type','hp','evolution','pokedex'])
poke.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [25]:
poke['place']=['new city','palace','play ground','swing']
poke

         name   type  hp   evolution pokedex        place
0   Bulbasaur  grass  45     Ivysaur     yes     new city
1  Charmander   fire  39  Charmeleon      no       palace
2    Squirtle  water  44   Wartortle     yes  play ground
3    Caterpie    bug  45     Metapod      no        swing

### Step 6. Present the type of each column

In [27]:
poke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
name         4 non-null object
type         4 non-null object
hp           4 non-null int64
evolution    4 non-null object
pokedex      4 non-null object
place        4 non-null object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

### BONUS: Create your own question and answer it.