In [1]:
import pandas as pd 
import numpy as np
import psycopg2 as db

user=postgres.vtthhncofpkrylaqpabj password=juM70PkREv4HDxVm host=aws-0-sa-east-1.pooler.supabase.com port=6543 dbname=postgres

NOTE : table names is:  raw-car-accidents

In [2]:


# Create a connection with the database
dbase = db.connect(host="aws-0-sa-east-1.pooler.supabase.com",
                   database="postgres",
                    user = "postgres.vtthhncofpkrylaqpabj", 
                    password = "juM70PkREv4HDxVm",
                    port= 6543)

In [3]:
# Open a cursor to perform database operations
cur = dbase.cursor()

In [4]:
query = f"""
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public';

"""

try:
    cur.execute(query)
    tables = cur.fetchall()
    print(tables)
except Exception as e:
    print(e)

[('raw_car_accidents',), ('cleaned_agric_data',), ('raw_agric_data',)]

In [5]:


try :
    cur.execute("SELECT * FROM raw_car_accidents;")
    data = cur.fetchall()
except Exception as e:
    print(e)
    print("Error in the query")
    dbase.rollback()
    cur.close()
    dbase.close()

In [6]:
data

[]