### Psycopg2 - Postgres Database Driver Overview

`psycopg` is the Postgres database adapter for Python.

For basic usage, take a look at the documentation in the link below.

https://www.psycopg.org/psycopg3/docs/basic/usage.html

In [9]:
# import the module
import psycopg2 as db
import pandas as pd

In [10]:
credentials ={
    'database':'reader',
    'username':'root',
    'password':'postgres',
    'host':'localhost',
    'port':'5432'
    
}

In [11]:
# Create a connection with the database
dbase = db.connect(host="localhost",database="reader",
                     user = "root", password = "postgres")

In [12]:
# Open a cursor to perform database operations
cur = dbase.cursor()

In [13]:
# Execute a command to create a new table 
try:
    cur.execute("CREATE TABLE test(id serial PRIMARY KEY, num integer, data varchar);")
except:
    print("Table already exists")

Table already exists

In [14]:
# Pass data to fill a query placeholder and let psycodb2 perform the correct conversions
cur.execute("INSERT INTO test(num ,data) VALUES(%s, %s)", 
           (209, "qwerty"))

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [15]:
# Query the database to obtain the data as python objects
cur.execute("SELECT * FROM test;")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [16]:
cur.fetchone()

ProgrammingError: no results to fetch

In [17]:
# make the current changes to the database persist"
dbase.commit()

In [18]:
# close communication with the database
cur.close()
dbase.close()