# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [3]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
data = pd.read_csv(url, header=None)
wine= pd.DataFrame(data)
wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
#deletion of specific columns
columns_dropped= [0,3,6,8,10,12,13]
wine.drop(columns_dropped, axis=1, inplace=True)
wine

        1     2     4    5     7     9     11
0    14.23  1.71  15.6  127  3.06  2.29  1.04
1    13.20  1.78  11.2  100  2.76  1.28  1.05
2    13.16  2.36  18.6  101  3.24  2.81  1.03
3    14.37  1.95  16.8  113  3.49  2.18  0.86
4    13.24  2.59  21.0  118  2.69  1.82  1.04
..     ...   ...   ...  ...   ...   ...   ...
173  13.71  5.65  20.5   95  0.61  1.06  0.64
174  13.40  3.91  23.0  102  0.75  1.41  0.70
175  13.27  4.28  20.0  120  0.69  1.35  0.59
176  13.17  2.59  20.0  120  0.68  1.46  0.60
177  14.13  4.10  24.5   96  0.76  1.35  0.61

[178 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [6]:
#assigning/renaming
column_names={
    1:'alcohol',
    2:'malic_acid',
    4:'alcalinity_of_ash',
    5:'magnesium',
    7:'flavanoids',
    9:'proanthocyanins',
    11:'hue'
}

wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
5,14.20,1.76,15.2,112,3.39,1.97,1.05
6,14.39,1.87,14.6,96,2.52,1.98,1.02
7,14.06,2.15,17.6,121,2.51,1.25,1.06
8,14.83,1.64,14.0,97,2.98,1.98,1.08
9,13.86,1.35,16.0,98,3.15,1.85,1.01

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [7]:
#setting certain values
wine.loc[:3,'alcohol']=np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,NaN,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04
5,14.20,1.76,15.2,112,3.39,1.97,1.05
6,14.39,1.87,14.6,96,2.52,1.98,1.02
7,14.06,2.15,17.6,121,2.51,1.25,1.06
8,14.83,1.64,14.0,97,2.98,1.98,1.08
9,13.86,1.35,16.0,98,3.15,1.85,1.01

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [8]:
wine.loc[2:3,'magnesium']=np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,NaN,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
6,14.39,1.87,14.6,96.0,2.52,1.98,1.02
7,14.06,2.15,17.6,121.0,2.51,1.25,1.06
8,14.83,1.64,14.0,97.0,2.98,1.98,1.08
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [9]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05
6,14.39,1.87,14.6,96.0,2.52,1.98,1.02
7,14.06,2.15,17.6,121.0,2.51,1.25,1.06
8,14.83,1.64,14.0,97.0,2.98,1.98,1.08
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01

### Step 9. Count the number of missing values

In [10]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [11]:
import random as rand
rand=np.random.randint(0,11,size=len(wine))
#choosing to do a rand of the length of the df as 10 random numbers doesn't fit the shape of the df and is leading to errors
rand

array([ 3,  2,  5,  6,  6, 10,  8,  9,  1,  0,  7,  7,  8,  8,  7,  4, 10,
        6,  7,  4,  8, 10,  7,  9,  9,  3,  6, 10,  1, 10,  4,  7,  8,  5,
        6,  2,  6, 10,  0,  3,  4,  8,  2,  2,  2,  6,  4,  4,  4,  7, 10,
        4,  0,  7,  6,  4,  1,  5,  3,  1,  0,  0,  4,  5,  0,  9,  9,  4,
        4,  0,  3,  4,  8,  4,  5,  3, 10, 10,  0,  0,  3,  1,  3,  8,  5,
        3,  6,  4,  4,  3,  0,  7,  0,  1,  1,  5,  4,  0,  3,  7, 10, 10,
        3,  4,  6, 10,  4,  8,  6, 10,  1,  3,  2,  0,  2,  8,  9,  0,  6,
       10,  1,  1,  3,  0,  1,  3,  6,  7,  7,  3,  6,  7, 10,  8,  4,  1,
        1,  4,  2,  5,  2,  9,  6,  6,  9,  3,  8,  2,  4,  7,  0,  6,  9,
        9,  4,  4, 10,  5,  5,  1,  9,  8,  9,  6,  3,  7,  6,  2,  5,  6,
       10,  1,  0,  1,  6,  3,  1,  6])

### Step 11.  Set the rows of the random numbers in the column

In [13]:
wine['random_column']=rand
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,random_column
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,3
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05,2
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03,5
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86,6
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04,6
5,14.20,1.76,15.2,112.0,3.39,1.97,1.05,10
6,14.39,1.87,14.6,96.0,2.52,1.98,1.02,8
7,14.06,2.15,17.6,121.0,2.51,1.25,1.06,9
8,14.83,1.64,14.0,97.0,2.98,1.98,1.08,1
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01,0

### Step 12.  How many missing values do we have?

In [14]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
random_column        0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [15]:
wine['alcohol'].dropna()
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,random_column
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,3
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05,2
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03,5
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86,6
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04,6
...,...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64,1
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70,6
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59,3
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60,1
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61,6

### Step 13. Delete the rows that contain missing values

In [16]:
wine.dropna(inplace=True)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,random_column
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,3
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05,2
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03,5
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86,6
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04,6
...,...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64,1
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70,6
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59,3
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60,1
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61,6

### Step 15.  Reset the index, so it starts with 0 again

In [17]:
wine.reset_index(drop=True, inplace=True)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,random_column
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,3
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05,2
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03,5
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86,6
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04,6
...,...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64,1
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70,6
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59,3
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60,1
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61,6

### BONUS: Create your own question and answer it.

In [18]:
# Sort by 'alcohol' (descending) and then by 'magnesium' (ascending)
sorted_wine = wine.sort_values(by=['alcohol', 'magnesium'], ascending=[False, True])

print("Sorted Wine DataFrame:")
sorted_wine

Sorted Wine DataFrame:

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,random_column
8,14.83,1.64,14.0,97.0,2.98,1.98,1.08,1
13,14.75,1.73,11.4,91.0,3.69,2.81,1.25,8
6,14.39,1.87,14.6,96.0,2.52,1.98,1.02,8
14,14.38,1.87,12.0,102.0,3.64,2.96,1.20,7
46,14.38,3.59,16.0,102.0,3.17,2.19,1.04,4
...,...,...,...,...,...,...,...,...
115,11.03,1.51,21.5,85.0,2.17,2.01,1.71,8
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05,2
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03,5
3,10.00,1.95,16.8,100.0,3.49,2.18,0.86,6
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,3