# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

   14.23  1.71  15.6  127  3.06  2.29  1.04
0  13.20  1.78  11.2  100  2.76  1.28  1.05
1  13.16  2.36  18.6  101  3.24  2.81  1.03
2  14.37  1.95  16.8  113  3.49  2.18  0.86
3  13.24  2.59  21.0  118  2.69  1.82  1.04
4  14.20  1.76  15.2  112  3.39  1.97  1.05

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,NaN,3.39,1.97,1.05

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,113.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,100.0,3.39,1.97,1.05

### Step 9. Count the number of missing values

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Set the rows of the random numbers in the column

### Step 12.  How many missing values do we have?

alcohol              7
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 14. Print only the non-null values in alcohol

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
4,14.20,1.76,15.2,100.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25
13,14.38,1.87,12.0,102.0,3.64,2.96,1.20
14,13.63,1.81,17.2,112.0,2.91,1.46,1.28
15,14.30,1.92,20.0,120.0,3.14,1.97,1.07
16,13.83,1.57,20.0,115.0,3.40,1.72,1.13
17,14.19,1.59,16.5,108.0,3.93,1.86,1.23
18,13.64,3.10,15.2,116.0,3.03,1.66,0.96
19,14.06,1.63,16.0,126.0,3.17,2.10,1.09
20,12.93,3.80,18.6,102.0,2.41,1.98,1.03
21,13.71,1.86,16.6,101.0,2.88,1.69,1.11
22,12.85,1.60,17.8,95.0,2.37,1.46,1.09
23,13.50,1.81,20.0,96.0,2.61,1.66,1.12
24,13.05,2.05,25.0,124.0,2.68,1.92,1.13
25,13.39,1.77,16.1,93.0,2.94,1.45,0.92
26,13.30,1.72,17.0,94.0,2.19,1.35,1.02
27,13.87,1.90,19.4,107.0,2.97,1.76,1.25
28,14.02,1.68,16.0,96.0,2.33,1.98,1.04
29,13.73,1.50,22.5,101.0,3.25,2.38,1.19
30,13.58,1.66,19.1,106.0,3.19,1.95,1.09
31,13.68,1.83,17.2,104.0,2.69,1.97,1.23
32,13.76,1.53,19.5,132.0,2.74,1.35,1.25
33,13.51,1.80,19.0,110.0,2.53,1.54,1.10
34,13.48,1.81,20.5,100.0,2.98,1.86,1.04
35,13.28,1.64,15.5,110.0,2.68,1.36,1.09
36,13.05,1.65,18.0,98.0,2.43,1.44,1.12
...,...,...,...,...,...,...,...
147,13.32,3.24,21.5,92.0,0.76,1.25,0.55
148,13.08,3.90,21.5,113.0,1.39,1.14,0.57
149,13.50,3.12,24.0,123.0,1.57,1.25,0.59
150,12.79,2.67,22.0,112.0,1.36,1.26,0.48
151,13.11,1.90,25.5,116.0,1.28,1.56,0.61
152,13.23,3.30,18.5,98.0,0.83,1.87,0.56
153,12.58,1.29,20.0,103.0,0.58,1.40,0.58
154,13.17,5.19,22.0,93.0,0.63,1.55,0.60
155,13.84,4.12,19.5,89.0,0.83,1.56,0.57
156,12.45,3.03,27.0,97.0,0.58,1.14,0.67
157,14.34,1.68,25.0,98.0,1.31,2.70,0.57
158,13.48,1.67,22.5,89.0,1.10,2.29,0.57
159,12.36,3.83,21.0,88.0,0.92,1.04,0.56
160,13.69,3.26,20.0,107.0,0.56,0.80,0.96
161,12.85,3.27,22.0,106.0,0.60,0.96,0.87
162,12.96,3.45,18.5,106.0,0.70,0.94,0.68
163,13.78,2.76,22.0,90.0,0.68,1.03,0.70
164,13.73,4.36,22.5,88.0,0.47,1.15,0.78
165,13.45,3.70,23.0,111.0,0.92,1.46,0.85
166,12.82,3.37,19.5,88.0,0.66,0.97,0.72
167,13.58,2.58,24.5,105.0,0.84,1.54,0.74
168,13.40,4.60,25.0,112.0,0.96,1.11,0.67
169,12.20,3.03,19.0,96.0,0.49,0.73,0.66
170,12.77,2.39,19.5,86.0,0.51,0.64,0.57
171,14.16,2.51,20.0,91.0,0.70,1.24,0.62
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 13. Delete the rows that contain missing values

### Step 15.  Reset the index, so it starts with 0 again

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.20,1.76,15.2,100.0,3.39,1.97,1.05
1,14.39,1.87,14.6,96.0,2.52,1.98,1.02
2,14.06,2.15,17.6,121.0,2.51,1.25,1.06
3,14.12,1.48,16.8,95.0,2.43,1.57,1.17
4,13.75,1.73,16.0,89.0,2.76,1.81,1.15
5,14.75,1.73,11.4,91.0,3.69,2.81,1.25
6,14.38,1.87,12.0,102.0,3.64,2.96,1.20
7,13.63,1.81,17.2,112.0,2.91,1.46,1.28
8,14.30,1.92,20.0,120.0,3.14,1.97,1.07
9,13.83,1.57,20.0,115.0,3.40,1.72,1.13
10,14.19,1.59,16.5,108.0,3.93,1.86,1.23
11,13.64,3.10,15.2,116.0,3.03,1.66,0.96
12,14.06,1.63,16.0,126.0,3.17,2.10,1.09
13,12.93,3.80,18.6,102.0,2.41,1.98,1.03
14,13.71,1.86,16.6,101.0,2.88,1.69,1.11
15,12.85,1.60,17.8,95.0,2.37,1.46,1.09
16,13.50,1.81,20.0,96.0,2.61,1.66,1.12
17,13.05,2.05,25.0,124.0,2.68,1.92,1.13
18,13.39,1.77,16.1,93.0,2.94,1.45,0.92
19,13.30,1.72,17.0,94.0,2.19,1.35,1.02
20,13.87,1.90,19.4,107.0,2.97,1.76,1.25
21,14.02,1.68,16.0,96.0,2.33,1.98,1.04
22,13.73,1.50,22.5,101.0,3.25,2.38,1.19
23,13.58,1.66,19.1,106.0,3.19,1.95,1.09
24,13.68,1.83,17.2,104.0,2.69,1.97,1.23
25,13.76,1.53,19.5,132.0,2.74,1.35,1.25
26,13.51,1.80,19.0,110.0,2.53,1.54,1.10
27,13.48,1.81,20.5,100.0,2.98,1.86,1.04
28,13.28,1.64,15.5,110.0,2.68,1.36,1.09
29,13.05,1.65,18.0,98.0,2.43,1.44,1.12
...,...,...,...,...,...,...,...
140,13.32,3.24,21.5,92.0,0.76,1.25,0.55
141,13.08,3.90,21.5,113.0,1.39,1.14,0.57
142,13.50,3.12,24.0,123.0,1.57,1.25,0.59
143,12.79,2.67,22.0,112.0,1.36,1.26,0.48
144,13.11,1.90,25.5,116.0,1.28,1.56,0.61
145,13.23,3.30,18.5,98.0,0.83,1.87,0.56
146,12.58,1.29,20.0,103.0,0.58,1.40,0.58
147,13.17,5.19,22.0,93.0,0.63,1.55,0.60
148,13.84,4.12,19.5,89.0,0.83,1.56,0.57
149,12.45,3.03,27.0,97.0,0.58,1.14,0.67
150,14.34,1.68,25.0,98.0,1.31,2.70,0.57
151,13.48,1.67,22.5,89.0,1.10,2.29,0.57
152,12.36,3.83,21.0,88.0,0.92,1.04,0.56
153,13.69,3.26,20.0,107.0,0.56,0.80,0.96
154,12.85,3.27,22.0,106.0,0.60,0.96,0.87
155,12.96,3.45,18.5,106.0,0.70,0.94,0.68
156,13.78,2.76,22.0,90.0,0.68,1.03,0.70
157,13.73,4.36,22.5,88.0,0.47,1.15,0.78
158,13.45,3.70,23.0,111.0,0.92,1.46,0.85
159,12.82,3.37,19.5,88.0,0.66,0.97,0.72
160,13.58,2.58,24.5,105.0,0.84,1.54,0.74
161,13.40,4.60,25.0,112.0,0.96,1.11,0.67
162,12.20,3.03,19.0,96.0,0.49,0.73,0.66
163,12.77,2.39,19.5,86.0,0.51,0.64,0.57
164,14.16,2.51,20.0,91.0,0.70,1.24,0.62
165,13.71,5.65,20.5,95.0,0.61,1.06,0.64
166,13.40,3.91,23.0,102.0,0.75,1.41,0.70
167,13.27,4.28,20.0,120.0,0.69,1.35,0.59
168,13.17,2.59,20.0,120.0,0.68,1.46,0.60
169,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.