# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
chipo[chipo['item_price'] > 10].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
chipo['item_name'].nunique()

50

In [5]:
item_nprice =pd.DataFrame(chipo.groupby(['item_name'])['item_price'].min().reset_index())   
item_nprice.head()

               item_name  item_price
0      6 Pack Soft Drink        6.49
1          Barbacoa Bowl        8.69
2       Barbacoa Burrito        8.69
3  Barbacoa Crispy Tacos        8.99
4    Barbacoa Salad Bowl        9.39

### Step 6. Sort by the name of the item

In [6]:
item_nprice.sort_values('item_name',inplace=True)
item_nprice.head()

               item_name  item_price
0      6 Pack Soft Drink        6.49
1          Barbacoa Bowl        8.69
2       Barbacoa Burrito        8.69
3  Barbacoa Crispy Tacos        8.99
4    Barbacoa Salad Bowl        9.39

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
# Find the index of the row with the highest item_price
max_price_index = chipo['item_price'].idxmax()

# Use this index to get the quantity
max_price_quantity = chipo.loc[max_price_index, 'quantity']

print(max_price_quantity)

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [8]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [9]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]

20