In [1]:
import pandas as  pd
import numpy as np 

df = pd.read_csv(r'C:\Users\tevin_solutech\Desktop\Tems\Bootcamp\q2-data-engineering-workshop\04-data-warehousing\data\sample_agric_commodities.csv')
df.head()

,id,commodity,classification,grade,sex,market,wholesale,retail,supply_volume,county,date
0,1,Wheat,-,-,-,Kibiok,75.00/Kg,80.00/Kg,450.0,Nandi,2024-03-10
1,2,Wheat,-,-,-,Kabiyet Market,100.00/Kg,130.00/Kg,1000.0,Nandi,2024-03-08
2,3,Wheat,-,-,-,Nakuru Wakulima,65.00/Kg,-,NaN,Nakuru,2024-03-08
3,4,Wheat,-,-,-,Daraja Mbili,60.00/Kg,80.00/Kg,250.0,Kisii,2024-03-08
4,5,Wheat,-,-,-,Maua,77.78/Kg,100.00/Kg,1980.0,Meru,2024-03-07

In [2]:
df.replace('-', np.nan, inplace=True)
df.replace(' - ', np.nan, inplace=True)

C:\Users\tevin_solutech\AppData\Local\Temp\ipykernel_9440\1072841657.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('-', np.nan, inplace=True)

In [3]:
df.drop(columns=['grade','sex'], inplace=True)

In [4]:
df.head()

,id,commodity,classification,market,wholesale,retail,supply_volume,county,date
0,1,Wheat,NaN,Kibiok,75.00/Kg,80.00/Kg,450.0,Nandi,2024-03-10
1,2,Wheat,NaN,Kabiyet Market,100.00/Kg,130.00/Kg,1000.0,Nandi,2024-03-08
2,3,Wheat,NaN,Nakuru Wakulima,65.00/Kg,NaN,NaN,Nakuru,2024-03-08
3,4,Wheat,NaN,Daraja Mbili,60.00/Kg,80.00/Kg,250.0,Kisii,2024-03-08
4,5,Wheat,NaN,Maua,77.78/Kg,100.00/Kg,1980.0,Meru,2024-03-07

In [5]:
df.loc[:3,'retail']

0     80.00/Kg
1    130.00/Kg
2          NaN
3     80.00/Kg
Name: retail, dtype: object

In [6]:
df['retail'].describe()

count          1586
unique          130
top       100.00/Kg
freq            307
Name: retail, dtype: object

In [7]:
df['classification'].unique()

array([nan, 'Sindano', 'Pishori', 'IRR', 'Large Brown', 'Small Red',
       'Hybrid/ polished', 'Makueni', 'Local-Special', 'White Maize',
       'Mixed-Traditional ', 'Yellow Maize'], dtype=object)

In [8]:
df['classification'].fillna('Not Classified', inplace=True)
df['wholesale'] = df['wholesale'].str.split('/')[0][0]
df['wholesale']= df['wholesale'].astype(float)
df['retail'] = df['retail'].str.split('/')[0][0]
df['retail'] = df['retail'].astype(float)
df['supply_volume'].fillna(0, inplace=True)
df['date']= pd.to_datetime(df['date'])

C:\Users\tevin_solutech\AppData\Local\Temp\ipykernel_9440\431714669.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['classification'].fillna('Not Classified', inplace=True)
C:\Users\tevin_solutech\AppData\Local\Temp\ipykernel_9440\431714669.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['supply_volume'].fillna(0, inplace=True)

In [9]:
df.dtypes

id                         int64
commodity                 object
classification            object
market                    object
wholesale                float64
retail                   float64
supply_volume            float64
county                    object
date              datetime64[ns]
dtype: object

In [10]:
df.head(10)

,id,commodity,classification,market,wholesale,retail,supply_volume,county,date
0,1,Wheat,Not Classified,Kibiok,75.0,80.0,450.0,Nandi,2024-03-10
1,2,Wheat,Not Classified,Kabiyet Market,75.0,80.0,1000.0,Nandi,2024-03-08
2,3,Wheat,Not Classified,Nakuru Wakulima,75.0,80.0,0.0,Nakuru,2024-03-08
3,4,Wheat,Not Classified,Daraja Mbili,75.0,80.0,250.0,Kisii,2024-03-08
4,5,Wheat,Not Classified,Maua,75.0,80.0,1980.0,Meru,2024-03-07
5,6,Wheat,Not Classified,Nakuru Wakulima,75.0,80.0,0.0,Nakuru,2024-03-07
6,7,Wheat,Not Classified,Kawangware,75.0,80.0,0.0,Nairobi,2024-03-07
7,8,Wheat,Not Classified,Nakuru Wakulima,75.0,80.0,990.0,Nakuru,2024-03-06
8,9,Wheat,Not Classified,Nakuru Wakulima,75.0,80.0,0.0,Nakuru,2024-03-05
9,10,Wheat,Not Classified,Kabiyet Market,75.0,80.0,1000.0,Nandi,2024-03-05

In [11]:
df.shape

(2000, 9)

In [12]:
df.to_csv(r'cleaned_sample_agric_commodities.csv', index=False)