# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
data = pd.read_csv(url, header=None)
print(data.head())

             0              1                2              3  \
0      country  beer_servings  spirit_servings  wine_servings
1  Afghanistan              0                0              0
2      Albania             89              132             54
3      Algeria             25                0             14
4      Andorra            245              138            312

                              4          5
0  total_litres_of_pure_alcohol  continent
1                           0.0         AS
2                           4.9         EU
3                           0.7         AF
4                          12.4         EU

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = data.copy()
print(drinks.head())

             0              1                2              3  \
0      country  beer_servings  spirit_servings  wine_servings
1  Afghanistan              0                0              0
2      Albania             89              132             54
3      Algeria             25                0             14
4      Andorra            245              138            312

                              4          5
0  total_litres_of_pure_alcohol  continent
1                           0.0         AS
2                           4.9         EU
3                           0.7         AF
4                          12.4         EU

### Step 4. Which continent drinks more beer on average?

In [11]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
data = pd.read_csv(url, header=0)
drinks = data.copy()
drinks.columns = ['continent', 'beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol','country']
continent_with_highest_beer = drinks['beer_servings'].idxmax()
continent_name = drinks.loc[continent_with_highest_beer, 'continent']
print("Continent with the highest average beer servings:", continent_name)

Continent with the highest average beer servings: Namibia

### Step 5. For each continent print the statistics for wine consumption.

In [22]:
wine_stats = drinks.groupby('continent')['wine_servings'].describe()

print(wine_stats)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [24]:
mean_consumption_per_continent = drinks.groupby('continent').mean()
print(mean_consumption_per_continent)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [26]:
median_consumption_per_continent = drinks.groupby('continent').median()

print(median_consumption_per_continent)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [12]:
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])

print(spirit_stats)

              mean  min  max
continent
Afghanistan    0.0    0    0
Albania      132.0  132  132
Algeria        0.0    0    0
Andorra      138.0  138  138
Angola        57.0   57   57
...            ...  ...  ...
Venezuela    100.0  100  100
Vietnam        2.0    2    2
Yemen          0.0    0    0
Zambia        19.0   19   19
Zimbabwe      18.0   18   18

[193 rows x 3 columns]